<section class="featured-section py-12">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl md:text-5xl font-bold tracking-tight featured-title mb-8">
      <span class="text-blue-600">The latest.</span> Truly awe-inspired gifts.
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      @for (product of products(); track product.title) {
        <div [class]="(products().indexOf(product) === 0 ? 'lg:col-span-2' : '')">
          <app-product-card [product]="product"></app-product-card>
        </div>
      }
    </div>
  </div>
</section>
